/* src/App.css */
:root 
{
  --background--1:#2A2B2A; /* noir profond*/
  --background--multi:#778b77;
  --background--2 :#706C61; /* (Header, cartes, éléments secondaires)*/
  --interact:#E5446D; /* (Légère distinction pour les éléments interactifs)*/

  --text-main:#F8F4E3;
  --text-second:#FF8966;

  --button : #007AFF;
  --validation-succes : #00C853;
  --erreur-annulations:#FF5252;

}

.App {
  display: flex;
  justify-content:baseline;
  flex-direction: column;
  align-items: center;
  background-color:var(--background--1);
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  gap: 2em;
  color: var(--text-second);
  font-family: Arial, sans-serif;
  text-align: center;
}

.Multi
{
  background-image: url("./ressource/img/chess_background_n2.png");
  background-size: cover; /* Couvre toute la page */
  background-repeat: no-repeat; /* Pas de répétition */
  background-position: center center; /* Centre l'image */
  width: 100vw;
  height: 100vh;
}

.Card
{
  color: var(--text-main);
  border-radius: 5px;
  border: 1px solid var(--text-second);
  padding: 0.3em;
  max-width: 30vw;
  max-height: 15vh;
  height: 15vh;
  font-size: 0.70em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background--2);

}

.Card:hover
{
  transform: scale(1.05);
  gap: 2em;
  text-decoration: none;
  padding: 2em;
}

.Card p :hover
{
  transform: scale(0.9);
}
.Card h2:hover
{
  transform: scale(1.1);
}

.Card > *:hover{
  color: var(--text-second);
}


.App-header 
{
  background-color: var(--background--2);
  width: 100vw;
  height: 9vh;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.What-Abt
{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 1.2em;
  color: var(--text-main);
  
}
.onglet
{
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1em;
}

button{
  background-color: var(--background--2);
  border: 2px solid var(--text-second);
  color: var(--text-second) ;
  font-size: 0,5em;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  color: var(--text-second);
  text-decoration: underline ;
  background-color: var(--background--1);
}

p{
  max-width: 600px;
  margin: 0 auto 24px;
  font-size: 18px;
  color: var(--text-main);
  line-height: 1.6;
}

.game-id
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-2);
  border: 2px solid var(--text-second);
  color: var(--interact);
  font-size: 0,5em;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
 
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 2em;
}


.menu-multi 
{
  width: 100vw;
  
  display: flex;
  justify-content: left;
  align-items: top;
  padding-left: 5em;
  gap: 0.5em;
  font-family: 'Courier New', Courier, monospace;

}


.chessboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  gap:1em;
}

.board_status_btn
{
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
  
}


.chessboard-container > * {
  flex: 1; /* Permet aux enfants de grandir également */
  display: flex; /* Si besoin que les enfants soient flexibles eux aussi */
  justify-content: center;
  align-items: center;
}


.reset-btn {
  border: 2px solid var(--text-second);
  color: var(--text-second);
  font-size: 0,5em;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reset-btn:hover {
  background-color: var(--interact);
  color: var(--text-second);
  box-shadow: 0 6px 8px rgba(8, 11, 146, 0.15);
}

.reset-btn:active {
  background-color: var(--text-second);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: var(--background--2);
  color: var(--text-second);
  border: 2px solid var(--text-second);
  border-radius: 5px;
  padding: 0.25em;
  margin-bottom: 0.25em;
}

.chessboard-disabled{
  opacity: 0.5;  
  pointer-events: none;  
}

.display
{
  display: flex;
  justify-content: center;
  align-items: center; /* Assurer l'alignement en haut */
  gap: 2em;
  width: 100vw;
  
}

.move-recap-component
{
  flex: 1;
  background-color: var(--background--2);
  border-radius: 5px;
  padding: 5px;
  max-height: 500px;
  max-width: 12em;
  width: 15vw;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0.5em;
  min-height: 500px;
  color: var(--text-main);
  opacity: 0.85;
  margin-right: 50px;
}
h4{
  color: var(--text-second);
}

.display-move-recap
{
  display: flex;
  align-items: left;
  justify-content: center;
  max-width: auto;
  padding: 5px;
}
