:root 
{
  --background--1:#706C61; /* noir profond*/
  --background--multi:#778b77;
  --background--2 :#2A2B2A; /* (Header, cartes, éléments secondaires)*/
  --interact:#E5446D; /* (Légère distinction pour les éléments interactifs)*/

  --text-main:#F8F4E3;
  --text-second:#FF8966;

  --button : #007AFF;
  --validation-succes :  #1A2B40 ;
  --erreur-annulations:#FF5252;
  --active : #29c731 ;
  --inactive:#e21616 ;

}